<div style="margin-bottom: 20px">
  <div style="display: inline-block"><%= link_to("Home", root_path) %></div>
  <div style="display: inline-block"><%= link_to("CRUD App", stats_path) %></div>
  <div style="display: inline-block"><%= link_to("Sidekiq", sidekiq_web_path) %></div>
</div>
